<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Happy New Year ✨</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<canvas id="canvas"></canvas>

<!-- CARD -->
<div class="message show" id="msg">
  <div class="card-overlay"></div>

  <div class="card-text">
    <h1>Happy New Year ✨</h1>

    <p>
      I hope this year brings you peace, growth, and moments that truly make you smile.
    </p>

    <p>
      Wishing you success in everything you work hard for and happiness in everything you choose.
    </p>

    <p>Have an amazing year ahead.</p>

    <p> Lucky to have you all ❤️</p>

    <p class="signature">— from Tanuj 🤗</p>
  </div>
</div>

<!-- REPLAY BUTTON -->
<button class="replay-btn" onclick="replayFireworks()">Replay 🎆</button>

<script src="/static/fireworks.js"></script>
</body>
</html>
